:root {
    --main-color: #400090;
    --purple-light: #B57AFF;
    --purple-dark: #1D0936;


    --orange: #FF8A00;
    --orange-light: #FFa654;
    --orange-dark: #DF5E00;

    --input-color: #C4C4C4;

    --black: #000000;

    --grey: #D9D9D0;

    --background: #FAFAFA;

    --white: #FFFFFF;

    --span: #eee9e9;

    --green: #00C608;

    --grey-text: #5a5959;
}

* {

    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background: var(--background-color);
    --webkit-font-smoothing: antialiased;
}

button {
    cursor: pointer;
}

header {
    min-width: 100%;
    background: var(--grey);
}

.header-container {
    display: flex;
    align-items: center;
    gap: 2rem;
    height: 9rem;
}

.header-container img {
    width: 16%;
}

.header-container input {
    min-width: 60%;
    padding: 1rem;
    border: none;
    border-radius: 9px;
}

.header-container button {
  background: var(--main-color);
  color: var(--white);
  padding: 0.19rem;
  border-radius: 9px;
  min-width: 7rem;
}

.header-container button a {
    text-decoration: none;
    color: var(--white);
}

.header-container button span {
    color: var(--span);

}

.header-container button:hover {
    transition: 0.3s ease;
    transform: scale(1.1);
}

.header-container .cart {
    font-size: 2.3rem;
    color: var(--main-color);
    cursor: pointer;
 }

 .header-container .cart a {
    text-decoration: none;
    color: var(--main-color);
 }

 .header-container .cart a:hover {
    color: var(--green);
 }


nav  {
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--main-color);
    font-size: 1rem;
    min-height: 6rem;
    margin-bottom: 0.5rem;
    color: var(--white);
    min-width: 100%;
}

nav a {
    text-decoration: none;
    color: var(--white);
    font-weight: bold;
    position: relative;
  }
  
  nav a::after {
    content: "";
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: var(--white);
    transform: scaleX(0);
    transition: transform 0.3s ease;
    transform-origin: bottom right;
  }
  
  nav a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}


.a-container {
    display: flex;
    gap: 10rem;
}

.pedido-confirmado-container {
   display: flex;
   align-items: center;
   justify-content: space-between;
   margin-top: 3rem;
   margin-left: 4rem;
   margin-right: 4rem;
   margin-bottom: 8rem;
}

.pedido-confirmado {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}

.pedido-confirmado h1 {
    color: var(--main-color);
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bold;
}

.pedido-confirmado p {
    text-align: center;
    color: var(--grey-text);
}

.pedido-confirmado a {
    text-decoration: none;
    color: var(--white);
    background: var(--main-color);
    padding: 0.6rem;
    border-radius: 9px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
}

.pedido-confirmado a:hover {
    transition: 0.3s ease;
    transform: scale(1.1);
}

.pedido-confirmado i {
    font-size: 1rem;
    margin-left: 0.2rem;
}

.pedido-confirmado-container img {
    width: 35%;
}
