:root {
    --main-color: #400090;
    --purple-light: #B57AFF;
    --purple-dark: #1D0936;


    --orange: #FF8A00;
    --orange-light: #FFa654;
    --orange-dark: #DF5E00;

    --input-color: #C4C4C4;

    --black: #000000;

    --grey: #ebebeb;

    --background: #FAFAFA;

    --white: #FFFFFF;

    --span: #eee9e9;

    --green: #00C608;
}

* {

    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}



body {
    background: var(--background-color);
    --webkit-font-smoothing: antialiased;
}

button {
    cursor: pointer;
}

header {
    min-width: 100%;
    background: var(--grey);
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    height: 9rem;
}

.header-container img {
    width: 13rem;
}

.header-container input {
    min-width: 60%;
    padding: 1rem;
    border: 1.5px solid #d9d9d9;
    border-radius: 9px;
}

.header-container button {
    background: var(--main-color);
    color: var(--white);
    padding: 0.19rem;
    border-radius: 9px;
    min-width: 7rem;
}

.header-container button a {
    text-decoration: none;
    color: var(--white);
}

.header-container button span {
    color: var(--span);

}

.header-container button:hover {
    transition: 0.3s ease;
    transform: scale(1.1);
}

.header-container .cart {
    font-size: 2.3rem;
    color: var(--main-color);
    cursor: pointer;
    position: relative;
  }
  
  .header-container .cart a {
    text-decoration: none;
    color: var(--main-color);
    display: flex;
    align-items: center;
  }
  
  .header-container .cart i {
    margin-right: 5px;
  }
  
  .header-container .cart .item-count {
    position: absolute;
    top: -8px;
    right: -8px;
    min-width: 21px;
    height: 21px;
    font-size: 0.85rem;
    background: var(--green);
    color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .header-container .cart i:hover {
    transform: scale(1.1);
  }



nav {
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--main-color);
    font-size: 1rem;
    min-height: 6rem;
    margin-bottom: 0.5rem;
    color: var(--white);
    min-width: 100%;
    margin-bottom: 0;
}
a{
    text-decoration: none;
}

nav a {
    text-decoration: none;
    color: var(--white);
    font-weight: bold;
    position: relative;
  }
  
  nav a::after {
    content: "";
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: var(--white);
    transform: scaleX(0);
    transition: transform 0.3s ease;
    transform-origin: bottom right;
  }
  
  nav a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.a-container {
    display: flex;
    gap: 10rem;

}

.sub-header {
    background-color: var(--grey);
    width: 100%;
    height: 60px;
    padding-top: 0px;
    display: flex;
    align-items: center;
 

}

.sub-header-h1 {
    font-family: 'Josefin Sans', sans-serif;
    color: #1D0936;
    font-weight: bold;
    text-align: start;
    margin-left: 30px;
    margin-top: 20px;

}


.mais-vendidos-h1 h1 {
    margin-top: 2rem;
    margin-left: 1rem;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bold;
}

.carousel img {
    height: 100%;
}

#produtos {
    display: flex;
    justify-content: space-between;
    margin-left: 2rem;
}

.card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: var(--purple-dark)
}

.card-title {
    font-weight: 600;
    font-size: 1.6rem;
    margin-bottom: 1rem;
        }
.card-text {
    color: var(--purple-dark);
}

.price {
    font-size: 1.5rem;
    font-weight: bold;
}

.btn-comprar,
.btn-contato {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.3rem;
    background-color: #633BBC;
    color: #fff;
}

.btn-comprar:hover {
    background-color: var(--green);
    color: var(--white);
}
.btn-custom {
    display: flex !important; 
    align-items: flex-end !important;
    width: auto !important;
    max-width: 200px !important; 
}


#cabecalho .nav .nav-link.active {
    background-color: #fff;
    color: #000;
}

#estoque{
    background-color: #fff;
    color: var(--green);
    font-weight: bold;
}

  
.produto-container {
    display: flex;
    flex-direction: column;
  }
  
  .produto-img {
    flex: 0.5;
  }
  .produto-img-dtl{
    display: flex;
    align-items: center;
     
  }
  
  .produto-descricao {
    display: block;
  }
  

@media (max-width: 767px) {
    .carousel-item img {
        height: 280px;
    }

}

@media (max-width: 767px) {
    .header-container img {
        width: 10rem;
    }

}
@media (min-width: 768px) {
    .produto-container {
        flex-direction: row;
        align-items: center;
    }

    .produto-img {
        margin-bottom: 0;
    }
}