:root {
    --main-color: #400090;
    --purple-light: #B57AFF;
    --purple-dark: #1D0936;


    --orange: #FF8A00;
    --orange-light: #FFa654;
    --orange-dark: #DF5E00;

    --input-color: #C4C4C4;

    --black: #000000;

    ---grey: #ebebeb;

    --background: #FAFAFA;

    --white: #FFFFFF;

    --span: #eee9e9;

    --green: #00C608;

    --grey-text: #5a5959;

    --font-preencher-color: #3960c1;
}

* {

    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background: var(--background-color);
    --webkit-font-smoothing: antialiased;
}

button {
    cursor: pointer;
}

header {
    min-width: 100%;
    background: var(--grey);
}

.header-container {
    display: flex;
    align-items: center;
    gap: 2rem;
    height: 9rem;
}

.header-container img {
    width: 16%;
}

.header-container input {
    min-width: 60%;
    padding: 1rem;
    border: 1.5px solid #d9d9d9;
    border-radius: 9px;
}

.header-container button {
    background: var(--main-color);
    color: var(--white);
    padding: 0.19rem;
    border-radius: 9px;
    min-width: 7rem;
}

.header-container button a {
    text-decoration: none;
    color: var(--white);
}

.header-container button span {
    color: var(--span);

}

.header-container button:hover {
    transition: 0.3s ease;
    transform: scale(1.1);
}

.header-container .cart {
    font-size: 2.3rem;
    color: var(--main-color);
    cursor: pointer;
 }

 .header-container .cart a {
    text-decoration: none;
    color: var(--main-color);
 }

 .header-container .cart a:hover {
    color: var(--green);
 }

 nav  {
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--main-color);
    font-size: 1rem;
    min-height: 6rem;
    margin-bottom: 0.5rem;
    color: var(--white);
    min-width: 100%;
}

nav a {
    text-decoration: none;
    color: var(--white);
    font-weight: bold;
    position: relative;
  }
  
  nav a::after {
    content: "";
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: var(--white);
    transform: scaleX(0);
    transition: transform 0.3s ease;
    transform-origin: bottom right;
  }
  
  nav a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}


.a-container {
    display: flex;
    gap: 10rem;
}

h1 {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
    margin: 2rem;
}

.carteira-mypet {
    border: 1px solid var(--grey);
    width: 40%;
    padding: 1rem;
    border-radius: 9px;
    margin-left: 2rem;
    margin-bottom: 4rem;
}

.carteira-mypet h4 {
    font-weight: bold;
    font-size: 1.3rem;
}

.carteira-mypet p {
    color: var(--grey-text);
}

.carteira-mypet a {
    text-decoration: none;
    border-bottom: 1px solid var(--black);
    color: var(--font-preencher-color);
    font-weight: bold;
}

.pagamento-container {
    display: flex;
    align-items: start;
    justify-content: space-between;
    flex-direction: column;
    margin-left: 2.2rem;

}

.btn {
    background: var(--main-color);
    font-weight: bold;
    text-decoration: none;
    color: var(--white);
}

.btn:hover {
    transition: 0.3s ease;
    background: var(--green);
}