:root {
    --main-color: #400090;
    --purple-light: #B57AFF;
    --purple-dark: #1D0936;


    --orange: #FF8A00;
    --orange-light: #FFa654;
    --orange-dark: #DF5E00;

    --input-color: #C4C4C4;

    --black: #000000;

    --grey: #ebebeb;

    --background: #FAFAFA;

    --white: #FFFFFF;

    --span: #eee9e9;

    --green: #00C608;
}

* {

    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background: var(--background-color);
    --webkit-font-smoothing: antialiased;
}

button {
    cursor: pointer;
}

header {
    min-width: 100%;
    background: var(--grey);
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    height: 9rem;
}

.header-container img {
    width: 13rem;
}

.header-container input {
    min-width: 60%;
    padding: 1rem;
    border: 1.5px solid #d9d9d9;
    border-radius: 9px;
}

.header-container button {
    background: var(--main-color);
    color: var(--white);
    padding: 0.19rem;
    border-radius: 9px;
    min-width: 7rem;
}

.header-container button a {
    text-decoration: none;
    color: var(--white);
}

.header-container button span {
    color: var(--span);

}

.header-container button:hover {
    transition: 0.3s ease;
    transform: scale(1.1);
}

.header-container .cart {
    font-size: 2.3rem;
    color: var(--main-color);
    cursor: pointer;
    position: relative;
  }
  
  .header-container .cart a {
    text-decoration: none;
    color: var(--main-color);
    display: flex;
    align-items: center;
  }
  
  .header-container .cart i {
    margin-right: 5px;
  }
  
  .header-container .cart .item-count {
    position: absolute;
    top: -8px;
    right: -8px;
    min-width: 21px;
    height: 21px;
    font-size: 0.85rem;
    background: var(--green);
    color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .header-container .cart i:hover {
    transform: scale(1.1);
  }


nav {
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--main-color);
    font-size: 1rem;
    min-height: 6rem;
    margin-bottom: 0.5rem;
    color: var(--white);
    min-width: 100%;
}

nav a {
    text-decoration: none;
    color: var(--white);
    font-weight: bold;
    position: relative;
  }
  
  nav a::after {
    content: "";
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: var(--white);
    transform: scaleX(0);
    transition: transform 0.3s ease;
    transform-origin: bottom right;
  }
  
  nav a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}


.a-container {
    display: flex;
    gap: 10rem;
}

.container {
    max-width: 80%;
    margin: 0 auto;
   
}

h1,
h2 {
    color: var(--main-color);
    margin-bottom: 20px;
}

.table {
    background-color: #fff;
    border-radius: 50%;
}

.table th{
    color: var(--main-color);
}

.form-control {
    border-radius: 0.8rem;
}

.form-group label {
    font-weight: bold;
    color: var(--main-color);
}

.btn-primary {
    background-color: var(--main-color);
    border-color: var(--purple-dark);
}

.btn-primary:hover {
    background-color: var(--purple-light);
    border-color: var(--purple-dark);
    transform:scale(110%);
}

.btn-primary:active {
    background-color: var(--purple-light);
    border-color: var(--purple-dark);
}

.link-agendamento {
    text-decoration: none;
    color: #fff;
}
